.container{
    width: 100%;
    height: 100vh;
    background-color:black;
}
.head{
    text-align: center;
    padding-top: 30px;
   color: white;
}
.about-description{
   
   
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
    padding: 4rem;
    

}
.about-description img{
    height: 60vh;
    width: 30vw;
    object-fit: cover;
    margin: 4rem;
    border: 5px dotted crimson;
    border-radius: 100%;
   
}
.about-description p{
    font-size: 25px;
    padding: 5rem;
  
}


